<div class="wrapper">

  <div class="page-header-profile group">
    
    <div><%= image_tag(@user.logo, :alt => "book_review placeholder", :class => "img-circle") %></div>
    
    <div> <h1 class="text-right"><%= @user.username %></h1>

    <a> <%= @user.points %> </a> </div>

  </div>


	<div class="page-header">
		
		<h2> Recommendations.</h2>
			
		<p> Based on books you've read..</p>

      <div class="content-box">

      <% @recommended_books.each do |book|  %>

          <div class="book-container">

        		<div class="book_cover">

        			<%= link_to ( image_tag(book.image_link)), book_path(book) %>
        		</div>
      	
          </div>
      
      <%end%>	
      
    </div>	

</div>


	<div class="page-header">
	
		<h2> Books I've read.</h2>
	
    <div class="content-box">

    <% @read_books.each do |book|  %>

        <div class="book-container">

      		<div class="book_cover">
      			<%= link_to ( image_tag(book.image_link)), book_path(book) %>
      		</div>
    	
        </div>
    
    <%end%>	
    
    </div>	
	
	</div>
  

</div>
