<div class="page-header">
  <%= image_tag("book_review.jpg", :alt => "book_review placeholder", :class => "img-circle") %>
  <h1 class="text-right"><%= current_user.username %></h1>
</div>
<div class="page-header">
<h2> Recommendations.</h2>
<p> Based on books you've read..</p>
<% @books.each do |book|  %>
	<div class="content-box">
		<div class="book_cover">
			<%= image_tag(book.image_link) %>
		</div>
		<div class="book_title">
			<h4><%= book.title %></h4>
		</div>
	</div>
<%end%>
</div>

<div class="page-header">
<h2> Books I've read.</h2>
<% @books.each do |book|  %>
	<div class="content-box">
		<div class="book_cover">
			<%= image_tag(book.image_link) %>
		</div>
		<div class="book_title">
			<h4><%= book.title %></h4>
		</div>
	</div>
<%end%>
</div>

<a class="bottn" <%= link_to "Review Book",new_review_path %></a>