<div class="wrapper">
<%= form_for(@reading_list) do |f| %>
  <% if @reading_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_list.errors.count, "error") %> prohibited this reading_list from being saved:</h2>

      <ul>
      <% @reading_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image_link %><br>
    <%= f.text_field :image_link %>
  </div>

  <div class="field">
    <%= f.label "Add Books" %><br>
        <div class="admin-content-box">

            <div class="books-table">
                <%= grid(@books_grid, html: {class: 'my-grid'}, header_tr_html:  {class: 'my-header'}) do |g|

                  g.column name: 'ID' do |book|
                    book.id
                  end

                  g.column name: 'Add to Reading List' do |book|
                    check_box_tag "reading_list[book_ids][]", book.id, @reading_list.books.include?(book)
                  end

                  g.column name: 'Title' do |book|
                    book.title 
                  end
                  
                  g.column name: 'Created At' do |book|
                    book.created_at.to_s(:short)
                  end

                end %>
            </div>

        </div>  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
