<p id="notice"><%= notice %></p>


<div class="readinglist_container">

        <h1>Books Reading Lists</h1>
        <div class="content-box">
            <% @reading_lists.each do |reading_list| %>
                <div class="readinglist-container">
                    <div class="readinglist_cover">
                        <%= link_to ( image_tag(reading_list.image_link)), reading_list_path(reading_list) %>
                    </div>

                    <div class="readinglist_title">
                        <h4><%= link_to (reading_list.title), reading_list_path(reading_list) %></h4>
                    </div>
                    <div>
                      <% if user_signed_in? %>
                        <% if current_user.admin? %>
                          <%= link_to 'Edit', edit_reading_list_path(reading_list) %> |
                          <%= link_to 'Delete', reading_list, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>        
                    </div>
                </div>
            <%end%>
        </div>
</div>
<div>
  <%= link_to 'New Reading list', new_reading_list_path %>
</div>
