<div class="wrapper">

    <div class="page-header">
        <h2> Books </h2>
        <div class="content-box">
            <% @books.each do |book|  %>
                <div class="book-container">
                    <div class="book_cover">
                        <%= link_to ( image_tag(book.image_link)), book_path(book) %>
                    </div>

                    <div class="book_title">
                        <h4><%= link_to (book.title), book_path(book) %></h4>
                        <br>
                        <h4><%= link_to (book.page_count), book_path(book) %></h4>
                    </div>

                    <td><%= link_to 'Edit', edit_book_path(book) %> |</td>
                    <td><%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>

                </div>
            <%end%>	
        </div>	
    </div>

    <div class="page-header">
        <h2> Users</h2>
        <div class="content-box">
            <% @users.each do |user|  %>
                <div class="book-container">
                    <div class="book_title">
                        <h4><%= user.username%></h4>
                        <h4><%= user.email%></h4>
                        <h4>Admin: <%= user.admin%></h4>

                    </div>
                    <td><%= link_to 'Destroy', profile_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
                    <td>make admin</td>
                </div>
            <%end%> 
        </div>  
    </div>

    <div class="page-header">
        <h2> Tags </h2> <%= link_to 'New Tag', new_tag_path %>
        <div class="content-box">
            <% @tags.each do |tag|  %>
                <div class="book-container">

                    <div class="book_title">
                        <h4><%= tag.name %></h4>
                    </div>

                    <td><%= link_to 'Edit', edit_tag_path(tag) %> |</td>
                    <td><%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>

                </div>
            <%end%> 
        </div>  
    </div>

    <div class="page-header">
        <h2> Reading Lists </h2> <%= link_to 'New Reading List' %>
        <div class="content-box">
            <% @tags.each do |tag|  %>
                <div class="book-container">
                    <div class="book_title">
                        <h4><%= tag.name %></h4>
                    </div>
                    <td><%= link_to 'Edit', edit_tag_path(tag) %> |</td>
                    <td><%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </div>
            <%end%> 
        </div>  
    </div>


</div>