
<div class="hero">
  <%= image_tag("https://dl.dropboxusercontent.com/u/12000520/Jersey%20Festival%20of%20Words.png", :class => "hero_img")  %>
</div>


<div class="page-header">
<h2> Top Recommendations</h2>
<p> Jersey words festival books 2015..</p>

<% for i in 0..2  %>
	<div class="content-box">
		<div class="book_cover">
			<%= image_tag(@book_thumb[i]) %>
		</div>

		<div class="book_title">
			<h4><%= @book_title[i] %></h4>
		</div>
	</div>
<%end%>	
</div>
<div class="wrapper">
<div class="box">



</div>

<div class="page-header">

<h2>Top Readers</h2>

<% for i in 0..2  %>
	<div class="content-box">
		<div class="avatar">

			<%= image_tag(@top_reader_avatar[i]) %>
			
		</div>

		<div class="username">
			<h4><%= @top_reader_username[i] %> </h4>
			<a><%= @top_reader_points[i] %></a>
		</div>
	</div>
<%end%>



</div>
</div>

