
<div class="hero">
  <%= image_tag("Words_festival.png", :class => "img-circle")  %>
</div>

<div class="wrapper">
<div class="box">

<h1>Top Recommendations</h1>

<% for i in 0..2  %>
	<div class="content-box">
		<div class="book_cover">

			<%= image_tag(@book_thumb[i]) %>
			
		</div>

		<div class="book_title">
			<h4><%= @book_title[i] %></h4>
		</div>
	</div>
<%end%>

</div>

<div class="box">

<h1>Top Readers</h1>



<% for i in 0..2  %>
	<div class="content-box">
		<div class="avatar">

			<%= image_tag(@top_reader_avatar[i]) %>
			
		</div>

		<div class="username">
			<h4><%= @top_reader_username[i] %> </h4>
			<a><%= @top_reader_points[i] %></a>
		</div>
	</div>
<%end%>



</div>
</div>

