
<div class="book_thumbnail">
	<%= @book.image_link %>
</div>


<div>
  <strong>Link:</strong>
  <%= @book.link %>
</div>

<div>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
