<div class="wrapper">
	
	<div class = "book-info">
		<div class = "cover">
  			<%= image_tag(@book.image_link, :alt => "#{@book.title} cover", :class => "cover-image") %>
		</div>
		
		<div class="book-title">
				<h3><%= @book.title %></h3>
		</div>

		<div>
			<h4> Author: <%= @book.authors %> </h4>
			<h4> Pages: <%= @book.page_count %> </h4>
		</div>

		<div class="book-description">
			<%= @book.description %>
		</div>

		<div class="review">
			<h3> Top Tags </h3>
			<% @top_tags.each do |top_tag| %>
				<div class="tag">
					<%= top_tag %>
				</div>
			<% end %>
	
		</div>

		<div class="book-link">
			<%= link_to 'Reserve', @book.link %>  				
		</div>
	</div>

    <div class = "ratings_and_tags">
      	<div class="book_ratings">
	        <h3> Review: </h3>
			<div class="rating_icons" id="ratings">
				<% if current_user.likes?(@book)  %>
					<%= render 'liked_book', book: @book %>
				<% elsif current_user.dislikes?(@book) %>
					<%= render 'disliked_book', book: @book %>
				<% elsif current_user.hides?(@book)%>
					<%= render 'hidden_book', book: @book %>
				<%else%>
					<%= render 'no_vote_book', book: @book %>
				<% end %>
      		</div>
      	</div>

		<div class="tags">
			<h3> Review Tags: </h3>		
			<% Tag.all.each do |tag| %>
				<% if books_tag = @book.books_tags.find_by(user: current_user, book: @book, tag: tag) %>

					<%= render 'books_tags/destroy_books_tag_form', tag: tag, books_tag: books_tag %>

				<% else %>

					<%= render 'books_tags/create_books_tag_form', book: @book, tag: tag %>

				<% end %>
			<% end %>
		</div>

		<div class="social">
			<h3> Recommed: </h3>
			<a href="http://twitter.com/home?status=I've read and recommend <%= @book.title %> by <%= @book.authors %> <%= book_url(@book) %> #Jerseywordfest" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter-square"></i></i></a>
			 <!-- Facebook -->
			<a href="https://www.facebook.com/sharer/sharer.php?u=I've read and recommend <%= @book.title %> by <%= @book.authors %> <%= book_url(@book) %>" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook-square"></i></a>
			<!--Tumblr -->
			<a href="http://www.tumblr.com/share/link?url=[uri encoded URL]&amp;name=[title]&amp;description=[description]"><i class="fa fa-tumblr-square"></i></a>
		</div>

		<div>
			<% if current_user.admin? %>
      	<%= link_to 'Edit', edit_book_path %><br>
      	<%= link_to 'Destroy', book_path,
          method: :delete, data: { confirm: 'Are you sure?' } %>
    	<% end %>        
  	</div>

  </div>



    </div>

</div>
