<div class="wrapper">

	<div class = "book-info">

		<div class="cover-image-wrap">
			<%= image_tag(@book.image_link, :alt => "#{@book.title} cover", :class => "cover-image") %>
			<%= link_to 'read it!', @book.link, class: 'read-it-link', target: "_blank" %>
		</div>

		<div class="book-title">
				<h3><%= @book.title %></h3>
		</div>

		<div>
			<h4> Author: <%= @book.authors %> </h4>
			<h4> Pages: <%= @book.page_count %> </h4>
		</div>

		<br>

		<h3><a href="http://www.jerseyfestivalofwords.org/writers-2015/">Find out more about this author and book your ticket for the appearance at the Jersey Festival of Words</a></h3>

		<br>

		<h4> Other users tags: </h4>
			<% @top_tags.each do |top_tag| %>
				<div class="tag">
					<%= top_tag %>
				</div>
			<% end %>

		<div class="book-description">
			<%= @book.description %>
		</div>


		<div>
			<h4><%= link_to 'Check the Jersey Library for availability', @book.link %></h3>
		</div>
	</div>

			<% if user_signed_in? %>
	    	<div class = "ratings_and_tags">
	      	<div class="book_ratings">
		        <h3>Rate It: </h3>
		        <h4>Rate the book to receive recommendations</h4>
				<div class="rating_icons" id="ratings">
					<% if current_user.likes?(@book)  %>
						<%= render 'liked_book', book: @book %>
					<% elsif current_user.dislikes?(@book) %>
						<%= render 'disliked_book', book: @book %>
					<% elsif current_user.hides?(@book)%>
						<%= render 'hidden_book', book: @book %>
					<%else%>
						<%= render 'no_vote_book', book: @book %>
					<% end %>
	      		</div>
	      	</div>

			<div class="tag-container">

				<h4> What tags best describe the book: </h4>

				<div class="tags">

					<% Tag.all.each do |tag| %>

						<% if books_tag = @book.books_tags.find_by(user: current_user, book: @book, tag: tag) %>

							<%= render 'books_tags/destroy_books_tag_form', tag: tag, books_tag: books_tag %>

						<% else %>

							<%= render 'books_tags/create_books_tag_form', book: @book, tag: tag %>

						<% end %>

					<% end %>

				</div>

			</div>
		<% end %>
		<br>
		<div class="social">
			<h3> Recommed It: </h3>
			<h4> By sharing it with your friends on social media</h4>
			<a href="http://twitter.com/home?status=I've read and recommend <%= @book.title %> by <%= @book.authors %> <%= book_url(@book) %> #Jerseywordfest" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter-square"></i></i></a>
			 <!-- Facebook -->
			<a href="https://www.facebook.com/sharer.php?u=<%= book_url(@book) %>&t=I've read recommend <%= @book.title %> by <%= @book.authors %> " title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook-square"></i></a>

		</div>

		<div>
			<% if user_signed_in? %>
				<% if current_user.admin? %>
  	    	<%= link_to 'Edit', edit_book_path %><br>
    	  	<%= link_to 'Destroy', book_path,
      	    method: :delete, data: { confirm: 'Are you sure?' } %>
    		<% end %>
    	<% end %>
  	</div>

  </div>



    </div>

</div>
