<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
			<title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Get Jersey Reading</title>
			<!-- Pulled from http://code.google.com/p/html5shiv/ -->
			<!--[if lt IE 9]>
	 	 	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	 	 	<html class="ie" lang="en" xml:lang="en"> 
	 	 	<style>input[type="password"] {
    		font-family: Arial;
	 	 	}
  		</style>
			<![endif]-->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans|Raleway:400,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<%= stylesheet_link_tag 	'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tag %>
	</head>

	<body>

		<header class="main-header">

			<div class="content-wrap">

				<div class="logo">
					<%= link_to image_tag("GetReadingLogo.png"), root_url %>
				</div>

				<div class="search-box">
					<div class="search-container">
						<span class="icon"><i class="fa fa-search"></i></span>
						<%= form_tag(books_path, :method => "get", id: "search-form", class: "search") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
						<%= submit_tag "Search", :style => "display: none;" %>
						<% end %>
					</div>
				</div>

				<div id="nav-bar">

				

					<div class="nav">
						<span class="group">
						<ul id="nav"></span>

	
							<li><%= link_to "Home", root_url %></li>

							<li><%= link_to "Reading Lists", reading_lists_path %></li>

							<li><%= link_to "Top Readers", root_url(anchor: 'readers') %></li>

							<li><%= link_to "News", root_url( anchor: 'twitterfeed') %></li>
							
							<% if user_signed_in? %>
								<li><%= link_to "My Profile", profile_path %></li>

							<% if current_user.admin? %>
								<li><%= link_to "Admin", admin_path %></li><% end %>

			  			<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
							<% else %>
			  				<li><%= link_to "Login", new_user_session_path %></li>
							<% end %>
							<li><%= link_to "About", about_path %></li>
						</ul>
					</div>


				</div>
			</div>

		</header>

		<div class="yield">

			<div class="content-wrap">
				<%= yield %>
			</div>

		</div>

		<footer>

			<div class="content-wrap">

				<div class="socials">
				 	<a href="https://facebook.com/jerseyfestivalofwords/timeline/"><%=image_tag("FB-f-Logo__blue_100.png",:class =>"footerimg")%></a>
		      <a href="http://twitter.com/jerseywordfest"><%=image_tag("twitterlogo.png",:class =>"footerimg") %></a>
				</div>

				<div class="footerlogo">
					<a href="http://www.jerseyfestivalofwords.org/"><%=image_tag("smallfestivallogo.jpg",:class =>"footerlogo")%></a>
				</div>

			  <div class="copyr">
					<p>&copy; 2015 Jersey Festival of Words</p>
				</div>

			</div>

		</footer>

		<script type="text/javascript">
			$("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
			$("#menu").click(function(){
				$("#nav").toggle();
			});
			$(window).resize(function(){
				if(window.innerWidth > 768) {
					$("#nav").removeAttr("style");
				}
			});
		</script>

	</body>
</html>
