<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Get Jersey Reading</title>
			<!-- Pulled from http://code.google.com/p/html5shiv/ -->
			<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 	 	<![endif]-->
	 	 	<!--[if lt IE 9 ]> <html class="ie" lang="en" xml:lang="en"> <![endif]-->
			<!--<![endif]-->
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans|Raleway:400,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<%= stylesheet_link_tag 	'application', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag "application" %>
			<%= csrf_meta_tag %>
	</head>

	<body>

		<header class="main-header">

			<div class="content-wrap">

				<div class="logo">
					<%= link_to image_tag("GetReadingLogo.png"), root_url %>
				</div>

				<div class="nav">
					<ul>
						<li><%= form_tag(books_path, :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
						<%= submit_tag "Search" %>
						<% end %>
						<li><%= link_to "About", about_path %></li>
						<% if user_signed_in? %>
							<li><%= link_to "My Profile", profile_path %></li>
							<% if current_user.admin? %>
								<li><%= link_to "Admin", admin_path %></li>
							<% end %>
		  				<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
						<% else %>
		  				<li><%= link_to "Login", new_user_session_path %></li>
						<% end %>
					</ul>

				</div>

			</div>

		</header>

		<div class="yield">

			<div class="content-wrap">
				<%= yield %>
			</div>

		</div>

		<footer>

			<div class="content-wrap">

				<div class="socials">
				 	<a href="https://facebook.com/jerseyfestivalofwords/timeline/"><%=image_tag("FB-f-Logo__blue_100.png",:class =>"footerimg")%></a>
		      <a href="http://twitter.com/jerseywordfest"><%=image_tag("twitterlogo.png",:class =>"footerimg") %></a>
				</div>

				<div class="footerlogo">
					<a href="http://www.jerseyfestivalofwords.org/"><%=image_tag("smallfestivallogo.jpg",:class =>"footerlogo")%></a>
				</div>

			  <div class="copyr">
					<p>&copy; 2015 Jersey Festival of Words</p>
				</div>

			</div>

		</footer>

	</body>
</html>
