<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
		<title>Get Jersey Reading</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans|Raleway:400,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 	'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<header class="group">
	
	<div class="main_navbar">
	<h1 class="temp_logo">Get Jersey Reading</h1>
		<div class="nav">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Recommend</li>
				<% if user_signed_in? %>
  				<%= link_to current_user.username %>
  				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
  				<%= link_to "Login", new_user_session_path %>
				<% end %>

			</ul>
		</header>

				<%= yield %>

			<footer>
				<img src="twitter-bird-light-bgs.eps" alt="Twitter Logo">
				<img src="img/facebook.png" alt="Facebook Logo">
				<p>&copy; 2015 Jersey Library</p>
			</footer>

</body>
</html>
