<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
		<title>Get Jersey Reading</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans|Raleway:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<%= stylesheet_link_tag 	'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<header class="group">
	<div class="main_navbar">
	<h1 class="temp_logo">Get Jersey Reading</h1>
		<div class="nav">
			<ul>
				<li><%= link_to 'Home', books_path %></li>
				<li><%= link_to "About" %></li>
				<li><%= link_to "My Profile" %></li>
				<% if user_signed_in? %>
  				<%= current_user.username %>
  				<%= link_to "Logout", logout_path, method: :get, :class => 'navbar-link'  %>
				<% else %>
  				<%= link_to "Login", new_user_session_path %>
				<% end %>
			</ul>
		</div>
	</div>
</header>
<div class="yield">
	<%= yield %>
</div>
	

			<footer>
				<!-- <a href="http://facebook.com"><%=image_tag("facebook-wrap.png",:class =>"footerimg")%></a>
      			<a href="http://twitter.com"><%=image_tag("twitter-wrap.png",:class =>"footerimg") %></a> -->
				<p>&copy; 2015 Jersey Library</p>
			</footer>

</body>
</html>
